<!doctype html>
<html>
<head>
	<meta charset='utf-8'>
	<link type='text/css' rel='stylesheet' href='/plugin/ztree/zTreeStyle.css' />
	<link type='text/css' rel='stylesheet' href='/plugin/layer/skin/default/layer.css' />
	<link type='text/css' rel='stylesheet' href='/css/common.css' />
	<title>员工管理系统</title>
</head>
<body>
<div class='index-content'>
	<ul class='index-menu'>
		<li class='login-li active' data='0'>登 录</li>
		<li class='register-li' data='1'>注 册</li>
	</ul>
	<i class='clear'></i>
	<div id='login-content' class='list-content active'>
		<form id='loginForm'>
			<ul>
				<li>
					<input type='text' id='login_username' name='username' placeholder='请输入用户名' />
				</li>
				<li>
					<input type='password' id='login_password' name='password' placeholder='请输入密码' />
				</li>
				<li>
					<input type='button' value='登  录' onclick='login()'/>
				</li>
			</ul>
		</form>
	</div>
	<div id='register-content' class='list-content'>
		<form id='registerForm'>
			<ul>
				<li>
					<input type='text' id='register_name' name='name' placeholder='请输入姓名' />
				</li>
				<li>
					<input type='text' id='register_username' name='username' placeholder='请输入用户名' />
				</li>
				<li>
					<input type='password' id='register_password' name='password' placeholder='请输入密码' />
				</li>
				<li>
					<input type='button' value='注  册' onclick='register()'/>
				</li>
			</ul>
		</form>
	</div>
</div>
<script type='text/javascript' src='/plugin/jquery.js'></script>
<script type='text/javascript' src='/plugin/jquery.form.js'></script>
<script type='text/javascript' src='/plugin/layer/layer.js'></script>
<script type='text/javascript' src='/plugin/ztree/jquery.ztree.core-3.5.min.js'></script>
<script type='text/javascript' src='/plugin/ztree/jquery.ztree.excheck-3.5.min.js'></script>
<script type='text/javascript' src='/js/common.js'></script>
<script type='text/javascript' src='/js/index.js'></script>
</body>
</html>
