<!doctype html>
<html>
<head>
	<meta charset='utf-8'>
	<link type='text/css' rel='stylesheet' href='/plugin/ztree/zTreeStyle.css' />
	<link type='text/css' rel='stylesheet' href='/plugin/layer/skin/default/layer.css' />
	<link type='text/css' rel='stylesheet' href='/css/common.css' />
	<title>员工管理系统</title>
</head>
<body>
<div class='header'>
	<div class='title'>员工管理</div>
	<span>当前用户：<%= name %>&nbsp;&nbsp;<a href='/logout'>退出登录</a></span>
</div>
<div class='left-content'>
	<div class='box-title'>部门</div>
	<div class='operate-box'>
		<button type='button' class='_btn' id='add_department_btn'>新增</button>
		<button type='button' class='_btn' id='upd_department_btn'>修改</button>
		<button type='button' class='_btn' id='del_department_btn'>删除</button>
	</div>
	<ul id='departmentTree' class='ztree'></ul>
</div>
<div class='right-content'>
	<div class='box-title'>员工
		<a href='javascript:addEmployee();'>添加员工</a>
	</div>
	<div class='table-ware'>
	<table id='employeeTable' class='table'>
		<thead>
			<tr>
				<th>姓名</th>
				<th>年龄</th>
				<th>性别</th>
				<th>所属部门</th>
				<th>地址</th>
				<th>说明</th>
				<th>操作</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td colspan='7'>暂无数据.</td>
			</tr>
		</tbody>
	</table>
	</div>
</div>

<div id='departmentContent' style='display: none;'>
	<form id='departmentForm'>
		<ul class='form-ul'>
			<li>
				<input type='hidden' id='department_pId' name='pId' />
				<input type='text' id='department_pName'  class='_text' readonly />
			</li>
			<li>
				<input type='hidden' id='department_id' name='id' />
				<input type='text' id='department_name' name='name' class='_text' placeholder='请输入部门名称' />
			</li>
			<li>
				<button type='button' class='_btn' onclick='saveDepartment()'>确定</button>
				<button type='button' class='_btn' onclick='closeLayer()'>取消</button>
			</li>
		</ul>
	</form>
</div>

<div id='employeeContent' style='display: none;'>
	<form id='employeeForm'>
		<ul class='form-ul'>
			<li>
				<input type='hidden' id='employee_id' name='id' />
				<input type='text' id='employee_name' name='name' placeholder='请输入姓名' class='_text' />
			</li>
			<li>
				<input type='number' id='employee_age' name='age' placeholder='请输入年龄' class='_text' />
			</li>
			<li>
				<input type='radio' name='sex' checked value='1' id='sex_1'/><label for='sex_1'>男</label>
				<input type='radio' name='sex' value='0' id='sex_0' /><label for='sex_0'>女</label>
				
			</li>
			<li>
				<input type='text' id='employee_address' name='address' class='_text' placeholder='请输入地址' />
			</li>
			<li>
				<input type='hidden' id='employee_departmentId' name='departmentId' />
				<input type='text' id='employee_departmentName' readonly  class='_text' />
			</li>
			<li>
				<textarea id='employee_desc' name='desc' class='_text' placeholder='请输入说明'></textarea>
			</li>
			<li>
				<button type='button' class='_btn' onclick='saveEmployee()'>确定</button>
				<button type='button' class='_btn' onclick='closeLayer()'>取消</button>
			</li>
		</ul>
	</form>
</div>
<script type='text/javascript' src='/plugin/jquery.js'></script>
<script type='text/javascript' src='/plugin/jquery.form.js'></script>
<script type='text/javascript' src='/plugin/layer/layer.js'></script>
<script type='text/javascript' src='/plugin/ztree/jquery.ztree.core-3.5.min.js'></script>
<script type='text/javascript' src='/plugin/ztree/jquery.ztree.excheck-3.5.min.js'></script>
<script type='text/javascript' src='/js/common.js'></script>
<script type='text/javascript' src='/js/main.js'></script>
</body>
</html>
